.p-checkbox.p-checkbox-checked .p-checkbox-box {
  background: var(--accent) !important;
  border-color: var(--accent) !important;
}

.p-checkbox.p-checkbox-checked .p-checkbox-icon {
  color: #000 !important;
}
