<div class="flex flex-col gap-4 px-4 md:px-28" id="work">
  <h2
    class="m-0 font-normal max-w-full lg:max-w-xl"
    style="font-family: var(--font-family); font-size: 42px"
  >
    {{ 'work.title' | transloco }}
  </h2>

  <div class="flex flex-col gap-8">
    <app-experience-item
      [entity]="'work.mta' | transloco"
      [title]="'work.designAndDev' | transloco"
    >
      <div content>
        <ul class="my-2 md:my-0">
          <li class="text-lg md:text-base">
            {{ 'work.mta1Desc' | transloco }}
          </li>
          <li class="text-lg md:text-base">
            {{ 'work.mta2Desc' | transloco }}
          </li>
        </ul>
      </div>
    </app-experience-item>

    <app-experience-item
      [entity]="'work.freelance' | transloco"
      [title]="'work.webCmsTitle' | transloco"
    >
      <div content>
        <ul class="my-2 md:my-0">
          <li class="text-lg md:text-base">
            {{ 'work.webCms1Desc' | transloco }}
          </li>
        </ul>
      </div>
    </app-experience-item>
  </div>
</div>
