<div class="flex flex-col gap-16 md:gap-28">
  <app-presentation></app-presentation>

  <app-experience-summary
    pAnimateOnScroll
    [once]="true"
    enterClass="fadeinright"
    leaveClass="fadeoutright"
    class="flex animation-duration-1000 animation-ease-in-out"
  ></app-experience-summary>

  <app-projects-portfolio></app-projects-portfolio>
  @defer(on viewport; ){
  <app-work-experiences
    pAnimateOnScroll
    [once]="false"
    enterClass="fadeinleft"
    leaveClass="fadeoutleft"
    class="flex animation-duration-1000 animation-ease-in-out"
  >
  </app-work-experiences>
  }@placeholder {

  <div></div>

  }

  <app-tecnology-skills></app-tecnology-skills>
  <app-contact-me></app-contact-me>
</div>
