#overview {
  .vl {
    border-left: 3px solid var(--surface-0);
    height: 530px;
  }

  hr.gradient-hr {
    padding: 0;
    margin: 0;
    border: none;
    height: 3px;
    /* Adjust the height as needed */
    background: linear-gradient(to right, var(--surface-0), black);
  }

  .indicators {
    height: 230px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 32rem;
    gap: 2rem;
    margin-top: 1rem;
  }


  .years {
    font-size: 256px
  }

  @media only screen and (max-width: 768px) {
    .years {
      font-size: 192px
    }
  }

  @media only screen and (max-width: 425px) {
    .years {
      font-size: 144px
    }
  }
}