<div class="w-full grid grid-cols-2 gap-2 md:gap-4 px-8 md:px-28" id="overview">
  <div class="col-span-2 lg:col-span-1">
    <h2
      class="lg:hidden flex m-0 font-normal max-w-lg mb-2"
      style="font-size: 48px; font-family: var(--font-family)"
    >
      {{ "experience.title" | transloco }}
    </h2>

    <hr class="gradient-hr" />
    <div class="vl">
      <div class="flex justify-center" style="font-size: 256px">4+</div>
      <div class="flex items-end">
        <div class="flex flex-col justify-end gap-2 w-full">
          <h2
            class="m-0 font-normal"
            style="text-align: end; font-family: var(--font-family)"
          >
            {{ "experience.years" | transloco }}
          </h2>
          <h2
            class="m-0 font-normal"
            style="text-align: end; font-family: var(--font-family)"
          >
            {{ "experience.experience" | transloco }}
          </h2>
          <div class="flex items-end gap-4">
            <hr class="ml-24 md:ml-10 mr-4" style="width: 100%; height: 1px" />
            <h2
              class="m-0 font-normal"
              style="text-align: end; font-family: var(--font-family)"
            >
              {{ "experience.working" | transloco }}
            </h2>
          </div>
        </div>
      </div>
    </div>
    <hr class="gradient-hr" />
  </div>
  <div class="col-span-2 lg:col-span-1">
    <div class="flex-col items-end h-full px-2 lg:px-8 py-8 gap-1">
      <h2
        class="hidden lg:flex m-0 font-normal lg:max-w-lg"
        style="font-size: 48px; font-family: var(--font-family)"
      >
        {{ "experience.title" | transloco }}
      </h2>

      <div class="max-w-full lg:max-w-lg">
        {{ "experience.description" | transloco }}
      </div>
      <div class="indicators">
        <app-completation-bar
          class="w-full"
          [title]="'experience.uxDesign' | transloco"
          [value]="85"
        ></app-completation-bar>
        <app-completation-bar
          class="w-full"
          [title]="'experience.prototyping' | transloco"
          [value]="90"
        ></app-completation-bar>
        <app-completation-bar
          class="w-full"
          [title]="'experience.developing' | transloco"
          [value]="98"
        ></app-completation-bar>
      </div>
    </div>
  </div>
</div>
