<div class="grid grid-cols-2 gap-4 px-28" id="experience-summary">
  <div class="col-span-1">
    <hr class="gradient-hr" />
    <div class="vl">
      <div class="flex justify-center" style="font-size: 256px">4+</div>
      <div class="flex items-end">
        <div class="flex flex-col justify-end gap-2 w-full">
          <h2
            class="m-0 font-normal"
            style="text-align: end; font-family: var(--font-family)"
          >
            Years
          </h2>
          <h2
            class="m-0 font-normal"
            style="text-align: end; font-family: var(--font-family)"
          >
            Experience
          </h2>
          <div class="flex items-end gap-4">
            <hr class="ml-24 md:ml-10 mr-4" style="width: 100%; height: 1px" />
            <h2
              class="m-0 font-normal"
              style="text-align: end; font-family: var(--font-family)"
            >
              Working
            </h2>
          </div>
        </div>
      </div>
    </div>
    <hr class="gradient-hr" />
  </div>
  <div class="col-span-1">
    <div class="flex flex-col items-end h-full px-8 py-8 gap-1">
      <h2
        class="m-0 font-normal max-w-lg"
        style="font-size: 48px; font-family: var(--font-family)"
      >
        L'esperienza non manca
      </h2>

      <div class="max-w-lg">
        Grazie alle nottate di programmazione in compagnia del caffè e alle
        solide basi teoriche acquisite negli studi accademici, miro a creare
        prodotti utili e confortevoli per gli utenti.
      </div>
      <div
        class="h-full justify-between w-full flex flex-col max-w-lg gap-4 mt-4"
      >
        <app-completation-bar
          class="w-full"
          [title]="'UX Designig'"
          [value]="85"
        ></app-completation-bar>
        <app-completation-bar
          class="w-full"
          [title]="'Prototyping'"
          [value]="90"
        ></app-completation-bar>
        <app-completation-bar
          class="w-full"
          [title]="'Developing'"
          [value]="98"
        ></app-completation-bar>
      </div>
    </div>
  </div>
</div>
<div class="flex justify-end px-32"></div>
