.figma {
    font-size: 144px;
}

@media only screen and (max-width: 768px) {
    .figma {
        font-size: 128px
    }

    .p-button.primary {

        width: 100%;
        text-align: center;

    }
}

@media only screen and (max-width: 425px) {
    .figma {
        font-size: 96px
    }
}