<div class="flex flex-col gap-16 md:gap-28">
  <div class="w-full grid gap-2 md:gap-4 px-4 md:px-28" id="overview">
    <h1>{{ 'projects.myProjects' | transloco }}</h1>

    <div class="col-span-12">
      <div>
        <h3>Gestionali Vue.Js</h3>
        <h4>Spurgo CanalJet</h4>
        <h4>Fast&Clean</h4>
        <h4>Amici di Nico</h4>
      </div>

      <div>
        <h3>Sinfonist</h3>
        <h4>QSM</h4>
      </div>

      <div>
        <h3>Hydra</h3>
        <h4>TT</h4>
        <h4>TT Mobile</h4>
      </div>

      <div>
        <h3>Poste CyberGames</h3>
      </div>

      <div>
        <h3>Timecloud</h3>
        <h4>Timecloud Mobile</h4>
        <h4>Restyling</h4>
      </div>

      <div>
        <h3>Federazione Ordine dei Farmacisti Italiani</h3>
        <h4>Portale Pubblico</h4>
        <h4>Portale Gestionale</h4>
        <h4>Federazione Ordini Farmacisti Italiani - Piattaforma Tirocini</h4>
      </div>

      <div>
        <h3>DMG</h3>
        <h4>Fusion App</h4>
        <h4>Fusion Dashboard</h4>
      </div>
      <div>
        <h3>EhiApp</h3>
      </div>
      <div>
        <h3>Progetti universitari</h3>
        <h4>Crowd Frame</h4>
        <h4>Scratch Detector</h4>
        <h4>Cash Your Trash</h4>
        <h4>Smart Parking</h4>
        <h4>ParBrum</h4>
        <h4>MyHealthStory</h4>
        <h4>Fullfact Scraper</h4>
      </div>
    </div>
  </div>
</div>
