<section class="flex flex-col gap-4 px-4 md:px-28" id="knowledge">
  <h2
    class="m-0 font-normal text-4xl md:text-6xl [font-family:var(--font-family)]"
  >
    {{ "tecnologies.title" | transloco }}
  </h2>

  <div
    class="flex flex-wrap gap-6 lg:gap-16 justify-center md:justify-between mt-16"
  >
    @for (skill of skills; track skill.titleKey) {
      <app-skill-card
        [title]="skill.titleKey | transloco"
        [description]="skill.descKey | transloco"
        [bgColor]="skill.bgColor"
      >
        <ng-container content>
          <ng-container *ngComponentOutlet="skill.icon" />
        </ng-container>
      </app-skill-card>
    }
  </div>
</section>
