.social {
  height: 768px;

  .social-logo {
    svg {
      fill: var(--surface-0);

      &:hover {
        fill: var(--primary-500);
        cursor: pointer;
      }
    }
  }
}

@media only screen and (max-width: 768px) {
  .social {
    height: min-content;
  }
}

button.active {
  color: var(--primary-500);
}

.vl {
  border-left: 1px solid var(--surface-0);
  height: 184px;
}

.vl-2 {
  border-left: 3px solid var(--surface-0);
  height: 100%;
}

.vl-2-short {
  border-left: 3px solid var(--primary-500);
  height: 100px;
}

.cursor-blink {
  display: inline-block;
  width: 2px;
  height: 1.1em;
  background-color: var(--primary-500);
  margin-left: 3px;
  vertical-align: text-bottom;
  animation: blink 1s step-end infinite;
}

@keyframes blink {
  from,
  to {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

h1 {
  font-weight: 500;
  font-family: "Bebas Neue", cursive;
}
