.flip-card {
  background-color: transparent;
  width: 300px;
  height: 256px;
  perspective: 1000px;

  &-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s ease;
    transform-style: preserve-3d;
    will-change: transform;
  }

  &:hover &-inner {
    transform: rotateY(180deg);
  }

  &-front,
  &-back {
    position: absolute;
    inset: 0;
    backface-visibility: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.75rem;
  }

  &-front {
    background-color: black;
    color: var(--text-color);
    ::ng-deep {
      svg {
        width: 12rem;
        height: 12rem;

        @media (min-width: 768px) {
          width: 15rem;
          height: 15rem;
        }

        @media (min-width: 1024px) {
          width: 20rem;
          height: 20rem;
        }
      }
    }
  }

  &-back {
    color: white;
    transform: rotateY(180deg);
    padding: 1.5rem;
    // Forza rendering nitido
    -webkit-font-smoothing: antialiased;
    backface-visibility: hidden;
    transform: rotateY(180deg) translateZ(1px);
  }
}
