// Import tutti i componenti theme personalizzati di PrimeNG 19
@use "../../public/assets/theme/_buttons.scss" as *;
@use "../../public/assets/theme/_radioButtons.scss" as *;
@use "../../public/assets/theme/_dataTable.scss" as *;
@use "../../public/assets/theme/_calendar.scss" as *;
@use "../../public/assets/theme/_checkbox.scss" as *;
@use "../../public/assets/theme/_inputSwitch.scss" as *;
@use "../../public/assets/theme/_inputText.scss" as *;
@use "../../public/assets/theme/_toolbar.scss" as *;
@use "../../public/assets/theme/_dropdown.scss" as *;
@use "../../public/assets/theme/_overlayPanel.scss" as *;
@use "../../public/assets/theme/_message.scss" as *;
@use "../../public/assets/theme/_inputNumber.scss" as *;
@use "../../public/assets/theme/_inputPassword.scss" as *;
@use "../../public/assets/theme/_dialog.scss" as *;
@use "../../public/assets/theme/_stepper.scss" as *;
@use "../../public/assets/theme/_breadcrumb.scss" as *;
@use "../../public/assets/theme/_multiselect.scss" as *;
@use "../../public/assets/theme/_progressbar.scss" as *;

:root {
  --font-family: "Poppins", system-ui;
  --font-family-titles: "Bebas Neue", sans-serif;

  /* THEME START */
  --border-input-color: transparent;

  --black00: #000000;
  --black01: #121212;
  --black02: #161616;
  --black03: #181818;
  --black04: #202020;
  --black06: #242424;
  --black07: #262626;
  --black08: #282828;

  /* Sfumature di grigio */
  --gray01: #333333;
  --gray02: #444444;
  --gray03: #555555;
  --gray04: #777777;

  /* THEME END */
  --text-color: #fafafa;
  --primary-color-text: var(--neutral-white);
  --secondary-color-text: var(--neutral-white);
  --bg-color: #000000;

  --header-color: #181818;

  --surface-0: var(--neutral-white);
  --surface-50: #fafafa;
  --surface-100: #f5f5f5;
  --surface-200: #eeeeee;
  --surface-300: #e0e0e0;
  --surface-400: #bdbdbd;
  --surface-500: #9e9e9e;
  --surface-600: #757575;
  --surface-700: #616161;
  --surface-800: #424242;
  --surface-900: #212121;

  --border-radius: 16px;
  --border-radius-small: 8px;
  --surface-ground: #f6f6f6;
  --success-color: #689f38;
  --danger-color: #d32f2f;

  --neutral-white: rgba(255, 255, 255, 1);
  --neutral-black: rgba(44, 61, 94, 1);
  --neutral-grey-00: rgba(32, 109, 181, 1);
  --neutral-grey-01: rgba(91, 185, 209, 1);
  --neutral-grey-02: #b5ccd1;
  --neutral-grey-03: #f9feff;
  --neutral-grey-04: rgba(245, 250, 252, 1);
  --neutral-transparent: rgba(0, 0, 0, 0);
  --neutral-watermark: rgba(59, 68, 70, 1);

  --red: #ff0000;
  --red-50: #fff5f5;
  --red-100: #ffd0ce;
  --red-200: #ffaca7;
  --red-300: #ff8780;
  --red-400: #ff6259;
  --red-500: #ff3d32;
  --red-600: #d9342b;
  --red-700: #b32b23;
  --red-800: #8c221c;
  --red-900: #661814;

  --gray-50: #fafafa;
  --gray-100: #f5f5f5;
  --gray-200: #eeeeee;
  --gray-300: #e0e0e0;
  --gray-400: #bdbdbd;
  --gray-500: #9e9e9e;
  --gray-600: #757575;
  --gray-700: #616161;
  --gray-800: #424242;

  --primary-50: #fffee5;
  --primary-100: #fefabf;
  --primary-200: #fdf793;
  --primary-300: #fbf365;
  --primary-400: #f8ee3a;
  --primary-500-rgb: 255, 242, 0;
  --primary-500: rgb(255, 242, 0);
  --primary-600: #ffde00;
  --primary-700: #ffc500;
  --primary-800: #ffac00;
  --primary-900: #ff7f00;

  --secondary-50: #ffffff;
  --secondary-100: #fafafa;
  --secondary-200: #f5f5f5;
  --secondary-300: #f0f0f0;
  --secondary-400: #dedede;
  --secondary-500: #c2c2c2;
  --secondary-600: #979797;
  --secondary-700: #818181;
  --secondary-800: #606060;
  --secondary-900: #3c3c3c;
}
