<div class="flex flex-col gap-4 px-4 md:px-28" id="projects">
  <div class="font-medium figma">
    {{ 'projects.projects' | transloco }}
  </div>
  <h2
    class="m-0 font-normal"
    style="font-family: var(--font-family); font-size: 42px"
  >
    {{ 'projects.portfolio' | transloco }}
  </h2>
  <button
    title="change language to italian button"
    type="button"
    pButton
    class="p-button primary"
    (click)="goToProjects()"
  >
    <span class="text-center w-full">
      {{ 'projects.viewProjects' | transloco }}
    </span>
  </button>
</div>
