<div class="flex flex-col gap-4 px-4 md:px-28" id="projects">
  <h2
    class="m-0 font-normal text-5xl md:text-7xl"
    style="font-family: var(--font-family)"
  >
    {{ "projects.projects" | transloco }}
  </h2>
  <h3
    class="m-0 font-normal text-xl md:text-4xl"
    style="font-family: var(--font-family)"
  >
    {{ "projects.portfolio" | transloco }}
  </h3>
  <button
    title="change language to italian button"
    type="button"
    pButton
    class="p-button primary"
    (click)="goToProjects()"
  >
    <span class="text-center w-full">
      {{ "projects.viewProjects" | transloco }}
    </span>
  </button>
</div>
